.offer {
  margin-top: 89px;
  padding-bottom: 85px;
  display: flex;
  justify-content: space-between;
}

.offer-img-container {
  position: relative;
}

.offer-img {
  width: 303px;
  height: 616px;
}

.offer-img-container::before {
  content: "EnBot";
  position: absolute;
  left: 116px;
  top: 63%;
  font-size: 27px;
  font-weight: bold;
  color: #444144;
}

.offer-img-url {
  position: absolute;
  left: 23%;
  top: 32%;
  width: 167px;
  height: 167px;
  border-radius: 50%;
}

.offer-title {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer-title h1 {
  font-size: 48px;
  color: #575757;
}

.offer-title p {
  font-size: 15px;
  margin-top: 25px;
  margin-bottom: 56px;
}

.offer-title button {
  width: 220px;
  font-size: 15px;
  padding: 17.5px 62.5px;
  background-color: #ca5fe1;
  color: white;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.offer-title button a{
  text-decoration: none;
  color: white;
}



